USE [master]
GO
/****** Object:  Database [spotifydb]    Script Date: 24/03/2017 11:42:35 p.m. ******/
CREATE DATABASE [spotifydb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'spotifydb', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\spotifydb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'spotifydb_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\spotifydb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [spotifydb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [spotifydb]
GO
USE [spotifydb]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 24/03/2017 11:42:36 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[Album] [varchar](50) NOT NULL,
	[Año] [int] NOT NULL,
	[Artista] [varchar](50) NOT NULL,
	[ImageUrl] [varchar](100) NULL,
	[RankTotal] [float] NOT NULL,
 CONSTRAINT [PK_Albums] PRIMARY KEY CLUSTERED 
(
	[Album] ASC,
	[Artista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Artistas]    Script Date: 24/03/2017 11:42:36 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artistas](
	[Artista] [varchar](50) NOT NULL,
	[ImageUrl] [varchar](100) NULL,
 CONSTRAINT [PK_Artistas] PRIMARY KEY CLUSTERED 
(
	[Artista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Canciones]    Script Date: 24/03/2017 11:42:36 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canciones](
	[Artista] [varchar](50) NOT NULL,
	[Album] [varchar](50) NOT NULL,
	[Cancion] [varchar](50) NOT NULL,
	[Genero] [varchar](20) NOT NULL,
	[Compositor] [varchar](50) NOT NULL,
	[Colaboradores] [varchar](50) NULL,
	[Link] [varchar](100) NULL,
	[ImageUrl] [varchar](100) NULL,
 CONSTRAINT [PK_Canciones] PRIMARY KEY CLUSTERED 
(
	[Artista] ASC,
	[Album] ASC,
	[Cancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Login]    Script Date: 24/03/2017 11:42:36 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[UserName] [varchar](15) NOT NULL,
	[Password] [varchar](15) NOT NULL,
	[UserLevel] [int] NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ranks]    Script Date: 24/03/2017 11:42:36 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranks](
	[Rank] [float] NOT NULL,
	[Album] [varchar](50) NOT NULL,
	[UserRated] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Ranks] PRIMARY KEY CLUSTERED 
(
	[Album] ASC,
	[UserRated] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24/03/2017 11:42:36 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Documento] [varchar](15) NOT NULL,
	[Nombre] [varchar](15) NOT NULL,
	[Apellido] [varchar](15) NOT NULL,
	[UserName] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Albums] ([Album], [Año], [Artista], [ImageUrl], [RankTotal]) VALUES (N'1989', 2014, N'Taylor Swift', N'https://upload.wikimedia.org/wikipedia/en/f/f6/Taylor_Swift_-_1989.png', 4)
INSERT [dbo].[Albums] ([Album], [Año], [Artista], [ImageUrl], [RankTotal]) VALUES (N'Bad', 1987, N'Michael Jackson', N'https://upload.wikimedia.org/wikipedia/en/5/51/Michael_Jackson_-_Bad.png', 0)
INSERT [dbo].[Albums] ([Album], [Año], [Artista], [ImageUrl], [RankTotal]) VALUES (N'Brindo con el alma', 1986, N'Diomedes Diaz', N'https://i.ytimg.com/vi/MiYzSpk2Y0c/maxresdefault.jpg', 4)
INSERT [dbo].[Artistas] ([Artista], [ImageUrl]) VALUES (N'Diomedes Diaz', NULL)
INSERT [dbo].[Artistas] ([Artista], [ImageUrl]) VALUES (N'Don Omar', N'')
INSERT [dbo].[Artistas] ([Artista], [ImageUrl]) VALUES (N'Farid Ortiz', NULL)
INSERT [dbo].[Canciones] ([Artista], [Album], [Cancion], [Genero], [Compositor], [Colaboradores], [Link], [ImageUrl]) VALUES (N'Diomedes Diaz', N'Brindo con el alma', N'Sin medir distancia', N'Vallenato', N'Gustavo Gutiérrez Cabello', N'"El Cocha" molina', N'http://mus4.foxmusica.net/mp3/bd19c93b-e1d8-4a89-af31-4eef091ec40c.mp3', N'https://i.ytimg.com/vi/NwIfH5c4AKk/hqdefault.jpg')
INSERT [dbo].[Canciones] ([Artista], [Album], [Cancion], [Genero], [Compositor], [Colaboradores], [Link], [ImageUrl]) VALUES (N'Diomedes Diaz', N'Título de amor', N'Dejala', N'Vallenato', N'Juan Humberto Rois', N'Juancho Rois', N'http://mus4.foxmusica.net/mp3/281f8f18-4954-4cb9-9aaa-a1751719da62.mp3', N'http://img.youtube.com/vi/BWrVw7V93S0/hqdefault.jpg')
INSERT [dbo].[Canciones] ([Artista], [Album], [Cancion], [Genero], [Compositor], [Colaboradores], [Link], [ImageUrl]) VALUES (N'Diomedes Diaz', N'Título de amor', N'Mi primera cana', N'Vallenato', N'Diomedes Diaz', N'Juancho Rois', N'http://mus4.foxmusica.net/mp3/5c8e86e2-409b-4dd1-87c2-677b67a1ae9c.mp3', N'https://i.ytimg.com/vi/NwIfH5c4AKk/hqdefault.jpg')
INSERT [dbo].[Login] ([UserName], [Password], [UserLevel]) VALUES (N'admin', N'12345', 10)
INSERT [dbo].[Login] ([UserName], [Password], [UserLevel]) VALUES (N'kike', N'3427123', 9)
INSERT [dbo].[Login] ([UserName], [Password], [UserLevel]) VALUES (N'prueba', N'1234prueba', 1)
INSERT [dbo].[Ranks] ([Rank], [Album], [UserRated]) VALUES (4, N'1989', N'admin')
INSERT [dbo].[Ranks] ([Rank], [Album], [UserRated]) VALUES (3, N'Bad', N'admin')
INSERT [dbo].[Ranks] ([Rank], [Album], [UserRated]) VALUES (4, N'Brindo con el alma', N'admin')
INSERT [dbo].[Usuarios] ([Documento], [Nombre], [Apellido], [UserName]) VALUES (N'1140872201', N'Enrique', N'Henriquez', N'kike')
INSERT [dbo].[Usuarios] ([Documento], [Nombre], [Apellido], [UserName]) VALUES (N'12345', N'Admin', N'Istrador', N'admin')
INSERT [dbo].[Usuarios] ([Documento], [Nombre], [Apellido], [UserName]) VALUES (N'123456', N'Prueba', N'Prueba', N'prueba')
USE [master]
GO
